<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Microsoft.eShopOnContainers.WebMVC</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/scss/app.component.css"/>        
        <link rel="stylesheet" href="~/scss/Catalog/catalog.component.css"/>
        

    </environment>
    <environment names="Staging,Production">        
    </environment>
</head>
<body>
    <header>
        <div class="header-block">            
            <div class="header-site-name">
                <span class="main-site-name">eShop</span>
                <span class="description">интернет-магазин</span>
            </div>
        </div>       
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>

    </footer>
    <environment names="Development">
        <script src="~/lib/jquery-3.7.1.js"></script>
    </environment>
</body>
</html>