<div class="item-filters-body">
    <div class="filter-price">
        <input name="min-price" type="number" min="0" />
        <input name="max-price" type="number" min="0" />
    </div>
    <div class="filter-category">
        <select name="category-filter"></select>
    </div>
    <div class="filter-brand">
        <select name="brand-filter"></select>
    </div>
</div>