section.main-container {
  width: 100%;
}
section.main-container .items-container {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 400px));
  column-gap: 30px;
  row-gap: 30px;
}
section.main-container .items-container .catalog-item {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  align-items: center;
  box-shadow: 0px 1px 5px -3px black;
  border-radius: 5px;
}
section.main-container .items-container .item-picture img {
  max-width: 100%;
  max-height: 100%;
}

section.filter-section {
  width: 100%;
}
section.filter-section .filter-container {
  margin-top: 15px;
  align-self: baseline;
  padding-left: 15%;
}
section.filter-section .filter-container form {
  display: flex;
  gap: 20px;
}
section.filter-section .filter-container form .filter {
  background-color: #009999;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  min-width: 150px;
  padding: 5px 30px;
}
section.filter-section .filter-container form input {
  padding: 2px 10px;
}

.item-body {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.item-body .item-name {
  padding-left: 80px;
}
.item-body .item-picture img {
  max-width: 400px;
  max-height: 400px;
}
.item-body .item-main-block {
  display: flex;
}
.item-body .item-main-block .item-left-side-info {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-body .item-main-block .item-right-side-info {
  flex-grow: 1;
}

article.pagination .paginator-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
article.pagination .paginator-container .page-index {
  font-weight: 600;
  font-size: 1em;
  border: 1px solid #009999;
  background-color: rgba(0, 153, 153, 0.5);
}
article.pagination .paginator-container .page-index.page-index-current {
  border: 2px solid #009999;
}
