.items-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 400px));
  column-gap: 30px;
  row-gap: 30px;
}
.items-container .catalog-item {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  align-items: center;
  box-shadow: 0px 1px 5px -3px black;
  border-radius: 5px;
}
.items-container .item-picture img {
  max-width: 100%;
  max-height: 100%;
}

.item-body {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.item-body .item-name {
  padding-left: 80px;
}
.item-body .item-picture img {
  max-width: 400px;
  max-height: 400px;
}
.item-body .item-main-block {
  display: flex;
}
.item-body .item-main-block .item-left-side-info {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-body .item-main-block .item-right-side-info {
  flex-grow: 1;
}
