@model CatalogViewModel
@{
    ViewData["Title"] = "Catalog";
}
@* <div class="filter-container">
    <form asp-action="Index" asp-controller="Catalog" method="post">
        <div class="brand-filter">
            <label></label> 
            <select asp-for="Brand"></select>
        </div>
        <div class="type-filter">
            <label></label>
            <select></select> 
        </div>
        <input type="submit" />
    </form>
</div> *@

<div class="container">
    @if (Model.CatalogItems.Any())
    {
        <div class="items-container">
            @foreach (var item in Model.CatalogItems)
            {
                <partial name="_item" model="item" />
            }
        </div>
        //<partial name="_pagination" model=""/>
        
    }
    else
    {
        <div>Epmty</div>
    }
</div>
